@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
body {
  @apply overflow-auto;
  scroll-behavior: smooth;
}

/* Scrollbar styling */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.w-container {
  width: 82.333333%;
}